@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=Dancing+Script:wght@500;700&family=Lora&family=Open+Sans:ital,wght@1,300&family=Poppins:wght@100;300;400;800&display=swap');
*{
    box-sizing: border-box;
}
nav{
    font-family: Georgia, serif;
}
body{
    height: 1000vh;
}
.main-page{
    background-size: cover;
    background-attachment: fixed;
    display: flex; 
    text-align: center;
    height: 80vh;  
}
.main-page .main-img1 img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 50%;
    /* 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: moveOut 5s ease-in-out forwards; */
}
.main-page .main-content{
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.main-page p,.about p{
    color: black;
    display: inline-block;
    font-size: 1rem;
    font-family: Georgia, serif;
    word-wrap: break-word;
    text-align: center;
    margin-top: 1rem;
}

.main-page h2{
    font-family: Cormorant,Garamond;
    box-shadow: 2px 1px 2px #888888;
    font-size: 2rem;
    text-align: center;
}
.main-page h2 span{
    font-size: 6rem;
    font-family: cursive;
}

.about{
    display: flex; 
    text-align: center;
    height: 77vh;  
}
.about .about-img img{
    width: 100%;
    height: 100%;
    border-bottom-right-radius:  50%;
}

.about h2{
    padding-top:2rem;
    font-family: Georgia, serif;
    font-family: 3rem;
    text-align: center;
    text-decoration: dotted;
}
.about p{
    width: 80%;
    text-align: center;
}
.about-div{
    padding: 3rem;
    /* border: 1px solid grey; */
    box-sizing: border-box;
    box-shadow: 5px 5px 15px #888888;
}
.product-heading{
    font-family: Georgia, serif;
    font-size: 2rem;
    text-align: center;
    text-decoration: underline;
}
.dryfruit-list{
    height: 60vh;
    display: flex;
    background: url('https://images.pexels.com/photos/5254831/pexels-photo-5254831.jpeg?auto=compress&cs=tinysrgb&w=800');
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    align-items: center;
    border-radius: 15%;
}
.lentils-list{
    height: 60vh;
    display: flex;
    background: url('https://images.unsplash.com/photo-1579705745811-a32bef7856a3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE4fHx8ZW58MHx8fHx8&auto=format&fit=crop&w=800&q=60');
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    align-items: center;
    border-radius: 15%;
}
.masala-list{
    height: 60vh;
    display: flex;
    background: url('https://images.pexels.com/photos/4198712/pexels-photo-4198712.jpeg?auto=compress&cs=tinysrgb&w=800');
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    align-items: center;
    border-radius: 15%;
}
.dryfruit-list::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.598);
    z-index: 1;
}

.dryfruits{
    height: 80%;
}
.lentils{
    height: 80%;
}
.masala{
    height: 80%;
}
.dryfruits img,.lentils img,.masala img{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    
    padding: 1rem;
    margin: auto;
    border-radius: 2rem;
    box-shadow: 10px 10px 50px rgb(171, 167, 167);
}


