@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=Dancing+Script:wght@500;700&family=Lora&family=Open+Sans:ital,wght@1,300&family=Poppins:wght@100;300;400;800&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid aqua; */
}
:root{
    --heading:#396C72;
    --text : #888;
}
nav{
    font-family: Georgia, serif;
}
.nav-link{
    color: var(--heading);
}
.main-page{
    background-size: cover;
    background-attachment: fixed;
    display: flex; 
    text-align: center;
    height: 80vh;  
}
.main-page .main-img1 img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 50%;
}
.main-page .main-content{
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.main-page p,.about p{
    color: var(--text);
    display: inline-block;
    font-size: 1rem;
    font-family: Georgia, serif;
    word-wrap: break-word;
    text-align: center;
    margin-top: 1rem;
}
.main-page h2{
    font-family: Cormorant,Garamond;
    box-shadow: 2px 1px 2px #888888;
    font-size: 2rem;
    text-align: center;
    color: var(--heading);
}
.main-page h2 span{
    font-size: 6rem;
    font-family: cursive;
}

.about{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; /* Center-align content vertically */
    text-align: center;
    height: auto; 
}
.about .about-img img{
    width: 100%;
    height: 70vh;
    border-bottom-right-radius:  50%;
}

.about h2{
    padding-top:2rem;
    font-family: Georgia, serif;
    text-align: center;
    text-decoration: dotted;
    color: var(--heading);
}
.about-div{
    padding: 3rem;
    /* border: 1px solid grey; */
    box-sizing: border-box;
    box-shadow: 5px 5px 15px #888888;
}
.about p{
    width: 80%;
    box-sizing: border-box;
    text-align: center;
}

.product-heading{
    font-family: Georgia, serif;
    font-size: 2rem;
    text-align: center;
    text-decoration: underline;
    color: var(--heading);
}
.dryfruit-list{
    height: 60vh;
    display: flex;
    background: url('https://images.pexels.com/photos/5254831/pexels-photo-5254831.jpeg?auto=compress&cs=tinysrgb&w=800');
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    align-items: center;
}
.lentils-list{
    height: 60vh;
    display: flex;
    background: url('https://images.unsplash.com/photo-1579705745811-a32bef7856a3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE4fHx8ZW58MHx8fHx8&auto=format&fit=crop&w=800&q=60');
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    align-items: center;

}
.masala-list{
    height: 60vh;
    display: flex;
    background: url('https://images.pexels.com/photos/4198712/pexels-photo-4198712.jpeg?auto=compress&cs=tinysrgb&w=800');
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    align-items: center;

}
.dryfruit-list::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.598);
    z-index: 1;
}

.dryfruits{
    height: 80%;
}
.lentils{
    height: 80%;
}
.masala{
    height: 80%;
}
.dryfruits img,.lentils img,.masala img{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    margin: auto;
    border-radius: 2rem;
    box-shadow: 10px 10px 50px rgb(171, 167, 167);
}
.visit{
    display: flex;
}
.visit-map{
    height: 70vh;
}
.visit-map iframe{
    height: 100%;
    width: 100%;
}
.visit-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.visit-content .address,.visit-content .email,.visit-content .number,.visit-content .timing{
    display: flex;   
    margin-left: 2rem;
}
 .icon i{
   font-size: 2rem;
   color:  #396C72;
}
.address-content p,.email-content p,.number-content p,.timing-content p{
    font-size : 1.2rem;
    color: gray;
    letter-spacing: 0.07rem;
}
.visit-content h4{
    letter-spacing: 0.07rem;
    color:  #396C72;
}
.contact{
    display: flex;
    margin-top: 5rem;
}
.contact-details{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.contact-details input{
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 25rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
}
.message{
    margin: auto;
    padding: none;
}
.message textarea{
   padding: 0.5rem;
   box-sizing: border-box;
   height: 10rem;
   width: 25rem;
   margin: auto;
}
footer{
    display: flex;
    justify-content: space-around;
    background-image: url('./images/img10.webp');
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 1px solid var(--heading);
}
footer h4,i{
    color: var(--heading);
}
footer p{
    color: var(--text);
}
.footer-links p{
    text-decoration: underline;
}

@media(max-width:1080px){
    .about .about-img img{
       
        height: 100vh;
    
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .about-div{
        box-shadow: none;
        width: 100%;
    }
    .about .about-img img{
        height: 100vh;
     }
}
@media(max-width:768px){
    .main-page{
        height: 80vh;  
    }
    .main-page .main-img1 img{
        width: 100%;
        height: 100%;
    }
    .main-page p,.about p{
        font-size: 0.8rem;
    }
    .main-content h2 span{
        font-size: 4rem;
    }
    .main-page h2{
        font-size: 1rem;
    }
    .about{
        height: auto;
    }
    .about-div{
        box-shadow: none;
    }
    .about p{
        width: 100%;
    }
    .dryfruit-list,.lentils-list,.masala-list{
        height: auto;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .dryfruits,.lentils,.masala{  
        flex-basis: calc(50% - 20px);
        height: 15rem;
    }
    .address-content h4,.email-content h4,.number-content h4,.timing-content h4{
        font-size: 1.2rem;
    }
    .address-content p,.email-content p,.number-content p,.timing-content p{
        font-size : 0.8rem;
    }
    .icon i{
        font-size: 1.2rem;
    }
    .contact-details input{
        margin-right: none;
        width: 18rem;
    }
    .message textarea{
        width: 18rem;
    }
   
}
@media screen and (min-width: 481px) and (max-width: 767px) {
    .about .about-img img{
        display: none;
    }
    .visit{
        flex-direction: column;
    }
    .visit-content{
        flex-direction: row;
    }
    .visit-content .address,.visit-content .email,.visit-content .number,.visit-content .timing{
        flex-direction: column; 
        margin-left: 1rem;
    }
    .address-content p,.email-content p,.number-content p,.timing-content p{
        font-size : 0.9rem;
    }
    .contact-details input{
        margin-right: none;
        width: 15rem;
    }
    .message textarea{
        width: 15rem;
    }
  }
  

@media(max-width:480px){
    .visit-content .address,.visit-content .email,.visit-content .number,.visit-content .timing{
        flex-direction: column; 
        margin-left: 0.5rem;
    }
    .contact-details input{
        margin-right: none;
        width: 12rem;
    }
    .message textarea{
        width: 12rem;
    }
}